@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 36px, 1.2, 300);
  color: $textColor;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;
  text-align: center;

  & h2 {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -30px;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



