.contactsBlock {
    background-color: #1f1f20;
    padding: 100px 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.contactForm {
    width: 50%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    background-color: lightgray;
}