.mainBlock {
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

.text {
width: 350px;
    background-color: lightgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightgray;
}