@import './src/common/variables';
@import './src/common/mixins';

.project {
  width: 450px;
  background-color: $bgSecondaryColor;
  display: flex;
  flex-direction: column;

  .image {
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .viewBtn {
      background-color: transparent;
      padding: 10px 20px;
      position: relative;
      color: $textColor;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 24px;
      letter-spacing: 1px;
      border: none;
      z-index: 1;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 12px, 1.8);
      font-weight: 400;
    }
  }
}